<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cancer Killer</title>

<link  rel="stylesheet" href="__ROOT__/Public/css/demo.css" media="screen"/>
<link  rel="stylesheet" href="__ROOT__/Public/css/member.css" media="screen"/>
<script src="__ROOT__/Public/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/js/guide.js" type="text/javascript"></script>
<link rel = "Shortcut Icon" href="__ROOT__/Public/images/logo.ico"/>

</head>
<body style="position:relative;">

<div class="head-v3">
	<div class="navigation-up">
		<div class="navigation-inner">
		  <div class="navigation-v2">
          <font style="/*font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;*/font-family:'Monotype Corsiva'; font-size:45px;color: #fff; font-weight:bold;text-shadow:0 0 5px #CCCCCC, 0 0 10px #CCCCCC, 0 0 15px #CCCCCC">Cancer killer</font>
		  </div>
			<div class="navigation-v3">
	     		<ul>
					<li class="" _t_nav="home">
						<h2>
							<a href="__ROOT__">首页</a>
						</h2>
					</li>
					<li class=""  _t_nav="browse">
						<h2>
							<a href="__URL__/../Cancer/index" >&nbsp;&nbsp;癌&nbsp;症&nbsp;&nbsp;</a>
						</h2>
					</li>
					
					<li class="" _t_nav="medicine">
						<h2>
							<a href="__ROOT__/Home/Medicine/medicineQuery">&nbsp;&nbsp;药&nbsp;物&nbsp;&nbsp;</a>
						</h2>
					</li>
					<li class="" _t_nav="gene">
					  
						<h2>
							<a href="__ROOT__/Home/Gene/index">&nbsp;&nbsp;基&nbsp;因&nbsp;&nbsp;</a>
						</h2>
					</li>
					<li class="" _t_nav="login">
					  
						<h2>
							<a href="__ROOT__/Home/Login/login">登录注册</a>
						</h2>
					</li>
					<li class="nav-up-selected-inpage" _t_nav="us">
						<h2>
							<a href="__ROOT__/Home/Member/member">关于网站</a>
						</h2>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

	<div id="page">
		<div id="content">
			<div class="post">
				<h3 class="title"><a>网站能做什么 </a></h3>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p><strong>Cancer Killer</strong>是为医生给癌症病人开药方提供帮助而设计的一个网站。它基于致病基因和药物靶点相对应的简单原理，使医生避开无效和重复用药。给癌症病人精确用药，减轻了癌症病人的痛苦和经济负担。同时，对癌症患者及其他普通用户也具有重要的参考意义和指导作用。

				</div>
			</div>
			<div class="post">
				<h3 class="title"><a>数据的专业与权威性</a></h3><br/>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>癌症分类及具体细分参照 <a href="http://www.genome.jp/kegg/" target="_blank">KEGG</a> <br/>
					癌症简要描述参照<a href="http://www.genome.jp/kegg/" target="_blank">KEGG</a>与 <a href="https://www.baidu.com" target="_blank">百度百科</a><br/>
					癌症药物参照 <a href="http://www.genome.jp/kegg/" target="_blank"> KEGG</a><br/>
					癌症致病基因参照 <a href="http://www.genome.jp/kegg/" target="_blank"> KEGG</a>与 <a href="http://www.genecards.org/" target="_blank"> GeneCards</a><br/>
					药物靶点参照<a href="https://www.drugbank.ca/" target="_blank"> DrugBank</a>与<a href="http://www.genecards.org/" target="_blank">GeneCards</a>	
					</p>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>			
			<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h3>网站成员</h3><br/>
					<p>xxx（指导老师）<br/>xxx（指导老师）<br/>xxx（学生，网站编程）<br/>xxx（学生，数据库制作）<br/>xxx（学生，数据库制作）</p>
				</li>
				<li>
					<h3>友情链接</h3><br/>
					<ul>
						<li><a href="http://www.genome.jp/kegg/" target="_blank">KEGG</a></li>
						<li><a href="http://www.genecards.org/" target="_blank">GeneCards</a></li>
						<li><a href="https://www.drugbank.ca/" target="_blank">DrugBank</a></li>
						<li><a href="http://www.cell.com/" target="_blank">Cell</a></li>
						<li><a href="http://www.nature.com/index.html" target="_blank">Nature</a></li>
						<li><a href="http://www.sciencemag.org" target="_blank">Science</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
<div id="footer"><br/>Copyright © “别喝，那是我的福尔马林” All rights reserved <br/> 中国大学生计算机设计大赛江苏赛区<br/>“别喝，那是我的福尔马林”代表队 <br/></div>
</body>
</html>
