
    .search-form{width:575px;}
    .search-form .search-bd{height: 30px;}
    .search-form .search-bd li{font-size:12px;width:130px;height: 30px;line-height: 30px;text-align:center;float: left;cursor: pointer;background-color: #c8c8c8;color: #666;}
    .search-form .search-bd li.selected{color: #fff;font-weight: 700;background-color: #5555FF;}
    .search-form .search-hd{height:40px;background-color: #5555FF;padding: 3px;position: relative;}
    .search-form .search-hd .search-input{width: 490px;height: 32px;line-height: 32px;padding: 6px 0;background: none;text-indent: 10px;border: 0;outline: none;position: relative;left: 3px;top: 0;z-index: 5;#margin-left:-10px;}
    .search-form .search-hd .btn-search{width: 70px;height: 40px;line-height:40px;position: absolute;right: 3px;top: 3px;border: 0;z-index: 6;cursor: pointer;font-size: 12px;color: #fff;font-weight: 700;background: none;outline: none;}
    .search-form .search-hd .pholder{display: inline-block;padding: 2px 0;font-size: 12px;color: #999;position: absolute;left: 13px;top: 15px;z-index: 4;background: url(../images/zoom.jpg) no-repeat 0 0;padding-left:30px;#top:11px;}
    .search-form .search-hd .s2,.search-form .search-hd #s2{display: none;}
    .search-form .search-bg{width: 495px;height: 40px;background-color: #fff;position: absolute;left: 3px;top: 3px;z-index: 1;}
    .bottom {font-family:'Microsoft YaHei';font-size:16px;background-color:#6495ED;color:#F0F0F0;text-align:center;}
    .bottom a{ text-decoration:none;color:#F0F0F0;font-family:'Microsoft YaHei';}
    .bottom a:hover{ text-decoration:underline; color:	#FF2D2D;}
    .searchres a{ text-decoration:underline;font-family:'Microsoft YaHei';color:#5555FF}
    .searchres a:hover{ text-decoration:underline; color:#FF2D2D;}
   
